  <!-- ***********************************************************************************
  Page Name  : current page name 
  Author     : Your Name 
  Your URL   : ocelot-aul.fiu/~__________
  Course     : CGS 4854 session, date, and time
  Program #  : Assignment #
  Purpose    : Describe what this page does 

  Due Date   : MM/DD/YYYY 

  Certification: 

  I hereby certify that this work is my own and none of it is the work of any other person. 

  ..........{ your full name }..........
 ******************************************************************************* -->
<html>
<div align="center">        
<body>
<table width = "100%">
                        <tr>
                        <td align = "center">
                        <font face = Arial color = red size = 6>
                                 ====This is a Teaching Website====
                        </font><br>
                                <font face = Times new roman color = blue size =5>
                                Vital, Michael
                        </font>
                        <hr color = green>
                </table>
 <?php  include( 'mainMenu.php' );  ?> 
    <br>
   <div>
      <form method="post" action="Controller.php">
         <div align="center" color = blue style="font-size: 30px;"><b>Car Registration</b></div>
         <br>					
         <table style="width: 50%; margin: 0px auto; padding-right: 10%;">
         <table style="width: 50%; margin: 0px auto; padding-right: 10%;">
            <tr>
               <td style="width: 5%; text-align: right;">Telephone &nbsp; </td>
               <td style="width: 20%;">
                  <input type="text" name="Telephone" value="" style="width: 100%;">
               </td>
            </tr>
           <tr>
               <td style="width: 5%; text-align: right;">Email &nbsp; </td>
               <td style="width: 20%;">
                  <input type="text" name="FirstName" value="" style="width: 100%;">
               </td>
            </tr>  
			<tr>
               <td style="width: 5%; text-align: right;">LastName &nbsp; </td>
               <td style="width: 20%;">
                  <input type="text" name="FirstName" value="" style="width: 100%;">
               </td>
            </tr> 
			<tr>
               <td style="width: 5%; text-align: right;">FirstName &nbsp; </td>
               <td style="width: 20%;">
                  <input type="text" name="FirstName" value="" style="width: 100%;">
               </td>
            </tr> 
			<tr>
               <td style="width: 5%; text-align: right;">Address &nbsp; </td>
               <td style="width: 20%;">
                  <input type="text" name="FirstName" value="" style="width: 100%;">
               </td>
            </tr> 
			<tr>
               <td style="width: 5%; text-align: right;">City &nbsp; </td>
               <td style="width: 20%;">
                  <input type="text" name="FirstName" value="" style="width: 100%;">
               </td>
            </tr> 
			<tr>
               <td style="width: 5%; text-align: right;">State &nbsp; </td>
               <td style="width: 20%;">
                  <input type="text" name="FirstName" value="" style="width: 100%;">
               </td>
            </tr> 
            
            <tr>
               <td style="width: 5%; text-align: right;">Country &nbsp; </td>
               <td style="width: 20%;">
                  <input type="text" name="LastName" value="" style="width: 100%;">
               </td>
            </tr>
            
            <tr>
               <td style="width: 5%; text-align: right;">Zip &nbsp; </td>
               <td style="width: 20%;">
                  <input id="birth" type="text" name="Email" value="" style="width: 100%;">
               </td>
            </tr>						

            <tr><td> &nbsp; </td> </tr>
           
            <tr>
               <td style="width: 5%; text-align: right;">Age &nbsp; </td>
               <td style="width: 20%; text-align: left;">
                   <select name="age" style="width: 100%;">
                      <option value="Under 20">   Under 20   </option>
                      <option value="20-30"> 20-30 </option>
                      <option value="31-40"> 31-40 </option>
                      <option value="41-50"> 41-50 </option>
                      <option value="51-60"> 51-60 </option>
                      <option value="Above 60"> Above 60 </option>
                   </select>
               </td>
            </tr>
            
            <tr><td> &nbsp; </td> </tr>            
            
            <tr>
               <td style="width: 5%; text-align: right;">Coffee &nbsp; </td>
               <td style="width: 20%; text-align: left;">
                  <table style="margin: 0px auto;">
                     <tr>
                        <td text-align: left> <input type="radio" name="Coffee" value="Light"> Light &nbsp; &nbsp; </td>
                        <td text-align: left> <input type="radio" name="Coffee" value="Cuban">Cuban &nbsp; &nbsp; </td>
						<td text-align: left> <input type="radio" name="Coffee" value="Sweet"> Sweet &nbsp; &nbsp; </td>
						<td text-align: left> <input type="radio" name="Coffee" value="Decaf"> Decaf &nbsp; &nbsp; </td>
                     </tr>
                  </table>
               </td>
            </tr>
                             
            <tr><td> &nbsp; </td> </tr>                                         
                             
            <tr>
               <td style="width: 5%; text-align: right">Preferences &nbsp; </td>
               <td style="width: 20%;">
                  <table>
                     <tr>
                        <td "text-align: left"> 
							 <input type="checkbox" name="IT"          value="">IT       &nbsp; &nbsp; </td>
                        <td> <input type="checkbox" name="CS"          value="">CS       &nbsp; &nbsp; </td>
                        <td> <input type="checkbox" name="Robotics"    value="">Robotics &nbsp; &nbsp; </td>
                        <td> <input type="checkbox" name="Cyber" value="">Cyber </td>
                     </tr> 
                  </table>
               </td>
            </tr>
                          
              
            <tr>
               <td style="width: 5%; text-align: right;">Comments &nbsp; </td>
               <td style="width: 20%;">
                  <div> 
                     <textarea name="SpecialNeeds" style="width: 100%; height: 50px;"></textarea> 
                  </div>
               </td>
            </tr>
               
            <tr><td> &nbsp; </td> </tr>                                                        
               
            <tr>
               <td style="width: 15%;"> </td>            
               <td style="width: 20%;" align=center>                
                  $message 
               </td>
            </tr>
               
            <tr><td> &nbsp; </td> </tr>                                         

            <tr>
               <td style="width: 15%;"> </td>            
               <td style="width: 20%;" align=center> 
				 <input type="submit" name="Save"   value="Save">                 
				 <input type="submit" name="Find"   value="Find">
                 <input type="submit" name="Modify" value="Modify">
                 <input type="submit" name="Delete" value="Delete">
                 <input type="submit" name="Clear"  value="Clear">
               </td>
            </tr>
			
        </table>
      </form>
   </div>	
 <?php  include( 'mainMenu.php' );  ?>    
  </body>
</html>


